.app-container {
  width: 100%;
  /* max-width: 1140px; */
  min-height: 100vh;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.emoji-cards-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: auto;
  /* border: 1px solid red; */
  gap: 10px;
  margin-top: 80px;
  
}
@media screen and (min-width: 768px){
    .emoji-cards-list{
        margin-top: 40px;
    }
}
*{
    /* border: 1px solid red; */
}
