.win-or-lose-container {
  border: 2px solid #ffffff30;
  background-color: #ffffff33;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: auto;
  border-radius: 20px;
  margin-top: 80px;
  padding: 22px;
  text-align: center;
}
.win-lose-image {
  width: 200px;
}
.win-status {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 800;
}
.best-score-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  margin: 0;
  font-weight: 500;
}
.score-numbers {
  margin-top: 0;
  color: #6a59ff;
  font-size: 36px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .win-status {
    font-size: 45px;
  }
  .best-score-text {
    font-size: 26px;
  }
}
.play-again-button {
  color: #3d3d3d;
  background-color: #ffce27;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 15px 23px;
  height: 50px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .win-or-lose-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }
  .win-lose-image {
    order: 1;
    margin-left: 20px;
    width: 300px;
  }
}
* {
  /* border: 1px solid red; */
}
